extends ./base_layout.jade
block contenido
	.container
		.row
			.col-md-12
				.jumbotron
					.row
						.col-sm-4
							img(src="img/planet.png").img-responsive
						.col-sm-8
							h1 Node JS Web
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolores erspiciatis ad harum neque a velit necessitatibus dignissimos magni perferendis tenetur at commodi molestiae nostrum sapiente cumque aperiam repudiandae, adipisci.
							p 
								a(href="/").btn.btn-primary.btn-lg More							
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;
				p &nbsp;