@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,700);

body{
	background-color: #FAFAFA;
	font-family: 'Open Sans', sans-serif;
}

.thumbnail-products{
	min-height: 450px;
}